<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-noticias [noticias]="this.dataLocalService.noticias" *ngIf="dataLocalService.noticias.length > 0" [enFavoritos]="true"></app-noticias>
  
  <ion-slides *ngIf="dataLocalService.noticias.length === 0" [options]="slideOpts">
    <ion-slide>
      <ion-label>No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>
</ion-content>
